services:
  backend:
    build: ./backend
    restart: always

  frontend:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile.prod 
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

  tunnel:
    container_name: cloudflared
    image: cloudflare/cloudflared:latest
    restart: always
    command: tunnel --no-autoupdate run --token eyJhIjoiNWNhZWU4OTMxNmZhZTI3NmE1MjgwMjBhODgxODkyNjIiLCJ0IjoiNjRhZGIyNzItZjNmNC00OGJiLWIyOWMtZmJjZjNiMmJkZDA4IiwicyI6IlltSTNOekEwWkRndFpETTFOUzAwTkRBM0xXSmtOMkV0WW1RMk1tWXdZelEzTTJRMyJ9
    depends_on:
      - frontend