services:
  backend:
    build: ./backend
    volumes:
      - ./backend:/app  # Maps local code to container code
    environment:
      - PYTHONDONTWRITEBYTECODE=1 # Prevents .pyc files cluttering your host
      - PYTHONUNBUFFERED=1        # Ensures logs show up in real-time

  frontend:
    image: nginx:stable-alpine
    restart: always
    ports:
      - "80:80" # Map your PC's port 80 to Nginx
    volumes:
      # Map your React build folder to Nginx's html folder
      - ./frontend/dist:/usr/share/nginx/html
      # Map our custom config
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend